main.taller{
    padding: 6rem 3rem;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}
.titulo-taller{
    width: 100%;
    text-align: center;
    margin-top: 90px;
}
.taller-item{
    align-items: left;
    justify-content: left;
}
li.exercise{
    display: list-item;
    width: 90%;
    list-style-type: decimal;
    text-align: left;
}
li h3{
    font-size: 1.6rem;
    text-align: center;
}
.link{
    text-align: center;
    font-size: 3rem;
    width: 100%;
    text-decoration: none;
    transition: 0.5s;
}
.link:hover{
    background-color: #34282C;
    border-radius: 32px;
}
.fa-solid .fa-sort-down{
 padding: 0px 30px;
 margin-bottom: 30px;   
}
.codigos{
    margin-top: 0 auto;
    display: block;
    background-color: #2B1B17;
}
.acordeon{
    margin-top: 0% auto;
    width: 100%;
    text-align: center;
    display: block;
    transition: 0.4s ease;
}
.size{
    height: 140px;
    overflow: hidden;

}
.rotate{
    transform: rotate(180deg);
}
a img{
    height: 50px;
    width: 50px;
}
.acordeon pre{
    margin: 40px auto;
    text-align: left;
    font-size: 1rem;
    background-color: #2C3539;
    border: 2px solid white;
}
iframe{
    margin-left: 100px;
    width: 80%;
    height: 500px;
    
}
.array{
    margin: 0% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
}